<!-- 内容区域 -->
<style>
.am-selected-group {
    width: 527.5px;
}
.background-deloge{
	background-color: rgb(248, 248, 248);
}
</style>
<div class="row" ng-controller="adminUserList">
	<div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
		<div class=" background-deloge widget am-cf">
			<div class="widget-head am-cf">
				<div class="widget-title  am-cf">用户列表</div>
			</div>
			<div class="widget-body  am-fr">

				<div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
					<div class="am-form-group">
						<div class="am-btn-toolbar">
							<div class="am-btn-group am-btn-group-xs">
								<a href="#addNewAdminUser" data-am-modal="{target: '#addNewAdminUser', dimmer:0,closeViaDimmer: 0, width: 800}" type="button" class="am-btn am-btn-default am-btn-success"><span class="am-icon-plus"></span> 新增</a>
								
							</div>
						</div>
					</div>
				</div>
				<div class="am-u-sm-12 am-u-md-6 am-u-lg-3">
					<div class="am-form am-form-group tpl-table-list-select">
						<select data-am-selected="{btnSize: 'sm'}">
						<option >请选择用户组</option>
						  <option value="{{_group.id}}" ng-repeat="_group in groups">{{_group.name}}</option>
						</select>
					</div>
				</div>
				<div class="am-u-sm-12 am-u-md-12 am-u-lg-3">
					<div class="am-input-group am-input-group-sm tpl-form-border-form cl-p">
						<input type="text" class="am-form-field ">
						<span class="am-input-group-btn">
						<button class="am-btn  am-btn-default am-btn-success tpl-table-list-field am-icon-search" type="button"></button>
						</span>
					</div>
				</div>

				<div class="am-u-sm-12">
					<table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black " id="example-r">
						<thead>
							<tr>
								<th>用户名</th>
								<th>姓名</th>
								<th>用户组</th>
								<th>邮箱</th>
								<th>电话</th>
								<th>创建时间</th>
								<th>操作</th>
							</tr>
						</thead>
						<tbody>
							<tr class="gradeX" ng-repeat="user in data">
								<td>{{user.userName}}</td>
								<td>{{user.name}}</td>
								<td>{{user.AdminGroup.name}}</td>
								<td>{{user.email}}</td>
								<td>{{user.phoneNum}}</td>
								<td>{{user.createdAt}}</td>
								<td>
									<div class="tpl-table-black-operation">
										<a href="#addNewAdminUser" data-whatever="{{user.id}}" data-am-modal="{target: '#addNewAdminUser', dimmer:0,closeViaDimmer: 0, width: 800}">
											<i class="am-icon-pencil"></i> 编辑
										</a>
										<a href="javascript:;" class="tpl-table-black-operation-del" ng-click="delOneItem(user.id)">
											<i class="am-icon-trash"></i> 删除
										</a>
									</div>
								</td>
							</tr>
							<!-- more data -->
						</tbody>
					</table>
				</div>
				<div class="am-u-lg-12 am-cf">
					<% include pagination%>
				</div>
			</div>
		</div>
	</div>
	
	<!--添加新用户模态窗口-->
    <div class="am-modal" tabindex="-1" id="addNewAdminUser">
	  <div class="am-modal-dialog">
        <div class="widget am-cf">
            <div class="widget-head am-cf">
                <div class="widget-title am-fl">用户信息</div>
                <div class="widget-function am-fr">
                   <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
                </div>
            </div>
            <div class="widget-body am-fr">
                <form class="am-form tpl-form-border-form tpl-form-border-br" name="myForm" ng-submit="processForm(myForm.$valid)">
                    <div class="am-form-group">
                        <label for="user-name" class="am-u-sm-3 am-form-label">用户名<span class="tpl-form-line-small-title"></span></label>
                        <div class="am-u-sm-9">
                            <input type="text" class="tpl-form-input" name="userName" ng-model="formData.userName" placeholder="请输入用户名">
                        </div>
                    </div>

                    <div class="am-form-group">
                        <label for="user-phone" class="am-u-sm-3 am-form-label">用户组<span class="tpl-form-line-small-title"></span></label>
                        <div class="am-u-sm-9">
                            <select data-am-selected-group="{btnSize: 'sm'}" ng-model="formData.group">
							  <option value="{{_group.id}}" ng-repeat="_group in groups">{{_group.name}}</option>
							</select>
                        </div>

                    </div>

                    <div class="am-form-group">
                        <label class="am-u-sm-3 am-form-label">姓名 <span class="tpl-form-line-small-title"></span></label>
                        <div class="am-u-sm-9">
                            <input type="text" placeholder="输入姓名" name="name" ng-minlength="2" ng-maxlength="6" ng-pattern="/[\u4e00-\u9fa5]/" ng-model="formData.name" required>
                        </div>
                    </div>

                    <div class="am-form-group">
                        <label class="am-u-sm-3 am-form-label">密码 <span class="tpl-form-line-small-title"></span></label>
                        <div class="am-u-sm-9">
                            <input type="text" placeholder="输入密码" id="userPassword" name="password" ng-pattern="/(?!^\\d+$)(?!^[a-zA-Z]+$)(?!^[_#@]+$).{5,}/" ng-maxlength="12" ng-model="formData.password" required>
                        </div>
                    </div>
                    <div class="am-form-group">
                        <label class="am-u-sm-3 am-form-label">Email <span class="tpl-form-line-small-title"></span></label>
                        <div class="am-u-sm-9">
                            <input type="text" placeholder="输入Email" name="email" ng-model="formData.email" ng-pattern="/^\w+((-\w+)|(\.\w+))*\@[A-Za-z0-9]+((\.|-)[A-Za-z0-9]+)*\.[A-Za-z0-9]+$/" required>
                        </div>
                    </div>

                    <div class="am-form-group">
                        <label class="am-u-sm-3 am-form-label">电话 <span class="tpl-form-line-small-title"></span></label>
                        <div class="am-u-sm-9">
                            <input type="text" placeholder="输入电话" name="phoneNum" ng-model="formData.phoneNum" ng-pattern="/^(0|86|17951)?(13[0-9]|15[012356789]|18[0-9]|14[57])[0-9]{8}$/" required>
                        </div>
                    </div>

                    <div class="am-form-group">
                        <label for="user-intro" class="am-u-sm-3 am-form-label">账号冻结</label>
                        <div class="am-u-sm-9">
                            <div class="tpl-switch">
                                <input type="checkbox" class="ios-switch bigswitch tpl-switch-btn" checked="">
                                <div class="tpl-switch-btn-view">
                                    <div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="am-form-group">
                        <div class="am-u-sm-9 am-u-sm-push-3">
                            <button type="submit" class="am-btn am-btn-primary tpl-btn-bg-color-success " >提交</button>
                        </div>
                    </div>
                </form>
            </div>
	    </div>
	  </div>
	</div>
</div>

